.default_colors {
	--font_color: #212121;
	--background_page: #D1D3D4;

	--font_color_prediction: #212121;
	--background_prediction: #D1D3D4;

	--color1: #b71c1c;
	--color2: #1a237e;
	--color3: #004d40;
	--color4: #ff6f00;
	--color5: #263238;
}