.deuteranopia_colors {
	--font_color: #D1D3D4;
	--background_page: #D1D3D4;

	--font_color_prediction: #D1D3D4;
	--background_prediction: #212121;

	--color1: #a50f15;
	--color2: #e1be91;
	--color3: #08519c;
	--color4: #c8ffff;
	--color5: #193c37;
}