.protanopia_colors {
	--font_color: #fee5d9;
	--background_page: #29509c;

	--font_color_prediction: #fee5d9;
	--background_prediction: #29509c;

	--color1: #a50f15;
	--color2: #fcae91;
	--color3: #29509c;
	--color4: #19b4d7;
	--color5: #192d23;
}