.tritanopia_colors {
	--font_color: #d2c3fa;
	--background_page: #b92e50;

	--font_color_prediction: #d2c3fa;
	--background_prediction: #b92e50;

	--color1: #a50f15;
	--color2: #fab92d;
	--color3: #08519c;
	--color4: #afeb55;
	--color5: #695a8c;
}