:root {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	border: 0px;
}

.main.ui.container {
	height: 100%;
}

.ui.grid {
	height: 100%;
}

#cam {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#commands {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}

#commands div {
	display: ;
	height: 100%;
	border: none;
	margin: 0px;
	background-color: var(--background_prediction);
	opacity: 0.0;
}

#commands #cycle_sx {
	flex-basis: 8%;
}

#commands #cycle_dx {
	flex-basis: 8%;
}

#commands #center_command {
	flex-basis: 84%;
	position: relative;
}

#prediction {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0px;
	transform: translate(-50%, -50%);
	background: rgba(0.0, 0.0, 0.0, 0.0);
	color: var(--font_color_prediction);
	font-size: 30vw;

}

#spacer {
	visibility: hidden;
}

.presentation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.presentation > * {
	margin: 3%;
}

.presentation .images {
	flex: 0 0 15%;
}

.presentation img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#angular_img {
	width: 70%;
}

#torch_img {
	width: 80%;
}

.presentation span {
	font-size: calc(25px + 0.6vw);
}

.presentation > .column_flex {
	flex: 0 0 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.column_flex > * {
	margin-bottom: 50px;
}

#chart {
	margin: auto;
	max-width: 1000px;
}