<!DOCTYPE HTML>
<html ng-app="euroApp" ng-controller="euroController" ng-init="palette = 0">
<head>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="css/webapp.css">
	<link rel="stylesheet" href="css/default_theme.css">
	<link rel="stylesheet" href="css/deuteranopia_theme.css">
	<link rel="stylesheet" href="css/protanopia_theme.css">
	<link rel="stylesheet" href="css/tritanopia_theme.css">
	<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.js"></script>
	<script
	src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script src="src/jimp.min.js"></script>
	<script src="src/controller.js"></script>
	<script src="src/app.js"></script>
</head>
<body class="{{palettes[palette]}}">
	<video autoplay id="cam"></video>
	<img src="">
	<canvas style="display:none;"></canvas>
	<div id="commands">
		<div id="cycle_sx" ng-click="palette = (palette + palettes.length - 1) % palettes.length"></div>
        <div id="center_command" onclick="command()">
            <p id="prediction">0</p>
        </div>
        <div id="cycle_dx" ng-click="palette = (palette + 1) % palettes.length"></div>
	</div>

	<div id="spacer"></div>

	<div class="presentation">
		<div class="images">
			<img src="res/images/AngularJS-Shield-medium.png" id="angular_img">
		</div>
		<div class="column_flex">
			<span>
				<h2>Angular.js</h2>
				<p>Angular è stato usato per creare un'applicazione platform aware in grado fornire tutti i contenuti dinamici in un'unica pagina. La potenza di angular ci permette di cambiare in real time la palette di colori per una più facile visualizzazione da parte di utenti ipo vedenti</p>
			</span>
		</div>
	</div>
	<div class="presentation">
		<div class="images">
			<img src="res/images/pytorch.png" id="torch_img">
		</div>
		<div class="column_flex">
			<span>
				<h2>Vision.ai</h2>
				<p>Il modulo di visione artificiale è stato costruito su PyTorch con una convolutional neural network a 4 livelli che utilizza un dataset di 900 immagini per imparare a distinguere le banconote attraverso il colore e le cifre</p>
			</span>
		</div>
	</div>
	<div class="presentation">
		<div class="images">
			<img src="res/images/nodejs.png">
		</div>
		<div class="column_flex">
			<span>
				<h2>Node.js</h2>
				<p>Node.js è stato impiegato lato server per fornire l'applicazione ai client e, tramite un reverse proxy, permette all'applicazione di interrogare il modulo di visione artificiale</p>
			</span>
		</div>
	</div>
	<div class="presentation">
		<div class="images">
			<img src="res/images/eye2.png">
		</div>
		<div class="column_flex">
			<span>
				<h2>Color Blindness</h2>
				<p>Particolare attenzione è stata posta alla problematica del daltonismo anche se discosta dal goal principale che il progetto si prefissava di risolvere. Sono stati creati 4 diversi temi derivanti dallo studio di 3 diverse varianti di daltonismo: la duteranopia, la protanopia e la tritanopia. La dinamicità di angular permette di cambiare il tema senza caricamenti in modo semplice e trasparente.
				</br>
				Oltre all'overlay della predizione riporto un esempio di un grafico che fa uso di  4 diverse palette adatte alla visione di soggetti con daltonismo.</p>
			</span>
		</div>
	</div>
	<div id="chart" ng-click="palette = (palette + 1) % palettes.length"></div>
</body>
</html>
